@import "../node_modules/bootstrap/scss/bootstrap";
@font-face {
    font-family: 'Acetone';
    src: url('./assets/Fonts/ACETONE.ttf') format('truetype');
}

:root{
    //COLORES BASES
    --rosa: #FF335C;
    --azul: #2B55FF;
    --violeta: #950097;
    --naranja: #FF8003;
    --blanco: #FFFFFF;
    --negroMate: #1B2021;
    --negro: #070909;
    //COLORES ALTERNATIVOS
    --alt_rosa: #ff145b80;
    --alt_rosaDos: #d6173d;
    --alt_negroMate: #1E1E1E;
    --azulOscuro: #000e44;
    --gris: #bdbdbd71;
    --alt_gris: #bdbdbd;
}   