<div class="fondo container-fluid">
    <app-navbar></app-navbar>
    <header>
        <h1>HISTORIAL</h1>
    </header>
    <main>
        <div class="details-box container-fluid">
            <div class="row head">
                <h3>DETALLES</h3>
            </div>
            <div class="details-info row">
                <div class="col">
                    <div class="box">
                        <label for="deck-jugado">Deck Jugado</label>
                        <div id="deck-jugado" class="info">
                            <p>Información</p>
                        </div>
                    </div>
                    <div class="box">
                        <label for="matchup">Matchup</label>
                        <div id="matchup" class="info">
                            <p>Información</p>
                        </div>
                    </div>
                    <div class="box">
                        <label for="duelo">Descripción del Duelo</label>
                        <div id="duelo" class="info">
                            <p>Información</p>
                        </div>
                    </div>
                    <div class="box">
                        <label for="peores-cartas">Peores Cartas</label>
                        <div id="peores-cartas" class="info">
                            <p>Información</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="box">
                        <label for="deck-oponente">Deck del Oponente</label>
                        <div id="deck-oponente" class="info">
                            <p>Información</p>
                        </div>
                    </div>
                    <div class="box">
                        <label for="resultado">Resultado</label>
                        <div id="resultado" class="info">
                            <p>Información</p>
                        </div>
                    </div>
                    <div class="box">
                        <label for="replay">Replay</label>
                        <div id="replay" class="info">
                            <p>Información</p>
                        </div>
                    </div>
                    <div class="box">
                        <label for="mejores-cartas">Mejores Cartas</label>
                        <div id="mejores-cartas" class="info">
                            <p>Información</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row btn-box">
                <button class="btn">
                    <a href="/historial">ACEPTAR</a>
                </button>
            </div>
        </div>
    </main>
    <app-footer></app-footer>
</div>