<div class="fondo container-fluid">
    <app-navbar></app-navbar>
    <main>
        <div class="container-fluid contenedor">
            <h1>REGISTRO DE NUEVO DECK</h1>
            <form action="">
                <div class="box-form">
                    <div class="box-input">
                        <input type="text" placeholder="Nombre del Arquetipo">
                    </div>
                    <div class="box-input">
                        <input type="text" placeholder="Link del Deck Profile">
                    </div>
                </div>
                <div class="row btn-box">
                    <button class="btn">
                        <a href="/duelos">CANCELAR</a>
                    </button>
                    <button type="submit" class="btn">REGISTRAR</button>
                </div>
            </form>
        </div>
    </main>
    <app-footer></app-footer>
</div>