<div class="fondo container-fluid">
    <app-navbar></app-navbar>
    <header>
        <h1>DUELOS</h1>
    </header>
    <main>
        <div class="lista-scroll container">
            <div id="scrollcito" data-bs-spy="scroll" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0">
                <div class="dato container-fluid">
                    <p>Marincess</p>
                </div>
                <div class="dato container-fluid">
                    <p>Marincess</p>
                </div>
            </div>
        </div>
        <div class="row btn-box">
            <button class="btn">
                <a href="/nuevo_deck">NUEVO DECK</a>
            </button>
            <button class="btn">
                <a href="">CREAR DUELO</a>
            </button>
        </div>
    </main>
    <app-footer></app-footer>
</div>